.modal-content {
    background-color: $gray-300 !important;
}

.modal-header {
    border-bottom: 1px solid $gray-700 !important;
}

.modal-footer {
    border-top: 1px solid $gray-700;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: $gray-700 !important;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: $gray-800;
    text-shadow: 0 1px 0 $gray-600;
    opacity: .5;
    outline: none !important;
    &:hover {
        color: $primary;
        text-decoration: none;
    }
}