// responsivos
@media (max-width: 1920px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

// vista recomendada
@media (max-width: 1366px) {}

@media (max-width: 1280px) {}

@media (max-width: 1224px) {}

@media (max-width: 1200px) {}

@media (max-width: 1080px) {}

// vista recomendada
@media (max-width: 1024px) {}

@media (max-width: 992px) {}

// vista recomendada
@media (max-width: 965px) {}

@media (max-width: 950px) {}

@media (max-width: 900px) {}

@media (max-width: 860px) {}

@media (max-width: 823px) {}

// vista recomendada
@media (max-width: 812px) {}

// vista recomendada
@media (max-width: 810px) {}

@media (max-width: 800px) {}

// vista recomendada
@media (max-width: 768px) {}

@media (max-width: 736px) {}

@media (max-width: 731px) {}

// vista recomendada
@media (max-width: 720px) {}

@media (max-width: 667px) {}

@media (max-width: 640px) {}

@media (max-width: 600px) {}

@media (max-width: 574px) {}

@media (max-width: 568px) {}

// vista recomendada
@media (max-width: 540px) {}

@media (max-width: 480px) {}

// vista recomendada
@media (max-width: 414px) {
    .nav-tabs-table .nav-link {
        font-size: 13px;
    }
}

// vista recomendada
@media (max-width: 411px) {}

// vista recomendada
@media (max-width: 375px) {
    .nav-tabs-table .nav-link {
        font-size: 10px;
    }
}

// vista recomendada
@media (max-width: 360px) {
    .nav-tabs-table .nav-link {
        font-size: 9px;
    }
}

// vista recomendada
@media (max-width: 320px) {}