$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$white:#FFFFFF;
$black:#000000;
$primary:#2196f3;
$primary-h:#0c83e2;
$success:#19d895;
$success-h:#15b67d;
$info:#8862e0;
$info-h:#7042da;
$warning:#ffaf00;
$warning-h:#d99500;
$danger:#ff6258;
$danger-h:#ff3e32;
$dark:#252C46;
$secondary:#dde4eb;
$secondary-h:#c5d1dd;

$muli: "roboto", sans-serif;
